<%- include('../common/header') -%>

<%
    const CLASSES = ["Warrior",
                    "Shaman",
                    "Rogue",
                    "Paladin",
                    "Hunter",
                    "Druid",
                    "Warlock",
                    "Mage",
                    "Priest"];
%>

<div class="container">
    <%- 
        include('../common/page_header', {
            title: 'Pakli szerkesztés',
            description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim vestibulum justo, a malesuada arcu faucibus at. Aliquam euismod elementum euismod.'
        })
    -%>

    <%- 
        include('../common/menu', {
            activeMenuItemId: "deck_create"
        })
    -%>

    <form id="deckEdit" action="/deck" method="POST">
        <div class="row">
            <div class="form-group col-xs-5">
                <label for="name">Név</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Név" value="<%= tpl.deck ? tpl.deck.name : '' %>">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5">
                <label for="class">Kaszt</label>
                <select class="form-control" id="class" name="class">
                    <% CLASSES.forEach((item) => { %>
                        <% if(tpl.deck.class === item) { %>
                            <option selected><%= item %></option>
                        <% } else { %>
                            <option><%= item %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5">
                <label for="added_cards">Hozzáadott kártyák</label>
                <select class="form-control" id="added_cards" name="added_cards" size="7" multiple>
                    <% tpl.cardListById.forEach((item) => { %>
                        <option value="<%= item.id %>"><%= item.name %></option>
                    <% }) %>
                </select>
            </div>

            <div class="col-xs-1 text-center arrows">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-arrow-left fa-stack-1x"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-arrow-right fa-stack-1x"></i>
                </span>
            </div>

            <div class="form-group col-xs-5">
                <label for="available_cards">Kártyák</label>
                <select class="form-control" id="available_cards" name="available_cards" size="7" multiple>
                    <% tpl.cardList.forEach((item) => { %>
                        <option value="<%= item.id %>"><%= item.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>

        <div id="buttonContainer" class="row">
            <div class="col-xs-1">
                <button type="submit" class="btn btn-primary">Mentés</button>
            </div>
            <div class="col-xs-1 col-xs-offset-1">
                <a type="button" class="btn btn-default" href="/">Mégse</a>
            </div>
        </div>
    </form>
</div>

<%- include('../common/footer') -%>